/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}


/* Vertical scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#0563bb; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #034685; 
}
/* End of Vertical scrollbar */


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background:#0563bb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #034685;
  color: #fff;
  transition: 0.5s ease;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0563bb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 12px;
  overflow-y: auto;
  background-color: #011426;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background:#011426; 
    border-right: 1px solid #e6e9ec;
    left: -300px;
    top: -260px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 150px;
  }
}





/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  color: #ffff;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
 
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (max-width:992px){
  .nav-menu a span,
  .nav-menu a:focus span {
    font-size: 1.5rem;
    color: #fff;
}
.nav-menu a i,
.nav-menu a:focus i {
  font-size: 25px;
}
}

@media (min-width: 992px) {
  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
    display: block;
    width: 100%;
  }


  .nav-menu a span,
  .nav-menu a:focus span {
    color: #fff; 
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
 color: #94c7f6;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: #94c7f6;
}


.nav-containter{
  background-color:#fff;
  display: none;
  border-radius: 50%;
  position: relative;
  width: 10rem;
  height: 10rem;
  border: 5px solid #0563bb;
  margin:50% 0 5% 0;
  overflow: hidden;
}

header .nav-img{
  display: none;
  width:11rem;
  margin-top: -12%;
  margin-left: -12%;
  position: absolute;
  object-fit: cover;
  transform: rotate(362deg);
}

@media (max-width: 992px){
  header .nav-img{
    display: block;
  }
  .nav-containter{
    display: block;
  }

}


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;

}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
 background: #0563bb;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 20px;
  overflow: hidden;
}



.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #0563bb;
}
.section-title h2::before{
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after{
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  text-align: justify;
}

/* end of General sections */


/* hero-section______________________________________________******** */
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #ebf4f5;
}

.hero-section .hero-content {
  line-height: 2;
  padding:10% 0 2% 20%;
}
.hero-section .hero-content h1 {
  font-size: 2.3rem;
}


.hero-content .name {
  font-weight: 700;
  color: #011426;
}
.hero-content #element {
  color: #0563bb;
  font-weight: 700;
}

.hero-content p {
  margin-top: 2%;
}
.hero-content .btn-contact {
border-color: #0563bb;
background: #0563bb;
color: #ffff;
margin-top: 5%;
}
.hero-content .btn-contact:hover {
  transition: 0.5s ease-in-out;
  background:black;
  border-color: black;
}


.hero-content .btn-portfolio {
  margin: 5% 0 0 5%;
  color: #fff;
  border-color: #0563bb;
  color: black;
}

.hero-content .btn-portfolio:hover {
  background-color: #011426;
  color: #fff;
  transition: 0.5s ease;
}
.hero-img {
  width: 40%;
  position: absolute;
  cursor: pointer;
  margin-top: -8%;
  transform: rotate(363deg);
}

@media (max-width:992px){
  .hero-section .hero-content h1, .hero-content #element {
    font-weight: 700;
     font-size: 1.5rem;
  }
  
  .hero-section .hero-content {
    line-height: 2;
    padding:10% 0 0 0;
  }

 .hero-img {
    width: 90%;
    margin: 2px 0 0 -8%;
  }
}

/* end of header section */




/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.btn-downlaod{
  background-color: #0563bb;
  margin-top: 2%;
  color: #ffff;
}
.btn-downlaod:hover{
  background-color:rgb(1, 0, 0);
  transition: 0.5s ease-in-out;
  margin-top: 2%;
  color: #ffff;
}
.about .abot-img{
  width: 90%;
  margin-top: 25%;
  border-radius: 2%;
  }
@media (max-width:992px) {
  .about .abot-img{
    display: none;
    }
}


/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/
.skills{
  width: 100%;
  position: relative;
  background-color: #ebf4f5;
}


.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #011426; 

}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background: #0563bb;
}






/*--------------------------------------------------------------
# Resume/Education
--------------------------------------------------------------*/

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #011426;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid  #0563bb;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #011426;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background-color: #0563bb;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  background-color: #ebf4f5;
}
.services .icon-box {
  text-align: center;
  padding: 30px 30px 30px 30px; 
  transition: all ease-in-out 0.3s;
  background: #fff; 
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.2);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
 
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
  padding-top: 15%;
}

.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  text-align: justify;
}

.services .icon-box:hover {
  border-color: #fff;  
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.2);
}


.services .services-img{
  width: 7rem;
  height: 7rem;
}
.services .services-logo{
  width: 5rem;
  height: 5rem;
}

.services .services-img:hover, .services-logo:hover{
  transform: scale(1.1);
  transition: 0.5s ease;
}






/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #011426;
  font-weight: 600;
}



.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

.accordion-button:not(.collapsed) {
  background-color: #ffff;
  box-shadow: 2px 2px 4px  2px #e6e9ec;

}

.accordion-item .accordion-button{
  font-size: 1.5rem;
  font-weight: 700;
  color: #011426;
}



/*--------------------------------------------------------------
# Testimonials/professioanl certificate
--------------------------------------------------------------*/
.testimonials{
  background-color: #ebf4f5;
}

.testimonials .section-header {
  margin-bottom: 40px;

}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #90c8fc;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0563bb;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0563bb;
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .contact-me {
  color: #444444;
  padding: 10px;
  width: 100%;
  margin: 3% 0;
}
.contact-bg{
  background: #ebf4f5;
  padding: 4%;
  margin: 4% 0;
}
.contact-me h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
 .contact-me p ,.contact-me h3{
  color: #011426;
}
.contact-icons {
  color: #0563bb;
  float: left;
  font-size: 1.6rem;
  padding: 14px;
  border-radius: 50%;
  margin: 1% 4%;
  background-color: #e6e9ec;
  cursor: pointer;
}
.contact-icons:hover {
  color:#011426;
  transition: 0.5s ease-in-out;
}
 .contact-me .social-links {
  color: #0563bb;
  font-size: 2rem;
  margin: 2%;
}
 .contact-me .social-links:hover {
  color:#011426;
  transition: all 0.5s ease;
}



.conatct-form{
  margin-top: 5%;
}

.contact .email-form {
  width: 100%;
  background: #fff;
}

.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .email-form input[type=text],
.contact .email-form input[type=email] {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 12px;
}

.contact .email-form button[type=submit] {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .email-form button[type=submit]:hover {
  background: #011426;
  transition: 0.4s ease;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: #011426;
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
}


#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 20px;
  display: inline-block;
  background: #0563bb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  margin-top: 10px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #034685;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

